<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AnswerDAO">

    <!--    //展示当前所有回答
        public List<Answer> showAllAnswer(String q_id);-->
    <select id="showAllAnswer" parameterType="String" resultType="Answer">
        select * from Answer where q_id=#{0}
    </select>

    <!--    //展示精选的回答
        public List<Answer> showTwoAnswer(String q_id);-->
    <select id="showTwoAnswer" parameterType="String" resultType="Answer">
        select * from
            (select rownum r,t.* from
                (select * from Answer
                 where q_id=#{0}
                 order by a_counts desc)t)
        where r between 1 and 2
    </select>

    <!--    //添加问题的回答
        public void insertQuestionAnswer(Answer answer);-->
    <insert id="insertQuestionAnswer" parameterType="Answer">
        insert into Answer values (#{a_id},#{answer},1,#{u_id},#{q_id},null)
    </insert>

    <!--    //添加回答的回答
        public void insertAnswerAnswer(Answer answer);-->
    <insert id="insertAnswerAnswer" parameterType="Answer">
        insert into Answer values (#{a_id},#{answer},#{a_counts},#{u_id},#{q_id},#{betterA_id})
    </insert>

    <!--    //获取当前已点赞数
        public Answer getAnswer(String a_id);-->
    <select id="getAnswer" parameterType="String" resultType="Answer">
        select * from Answer where a_id=#{a_id}
    </select>

    <!--    //获取当前回答的所有回答
        public List<Answer> getAllByBetterA_id(String betterA_id);-->
    <select id="getAllByBetterA_id" resultType="Answer">
        select * from Answer where betterA_id=#{betterA_id}
    </select>

</mapper>