<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDAO">

    <!--    //注册用户
        public void userRegister(User user);-->
    <insert id="userRegister" parameterType="User">
        insert into z_user values (#{u_id},#{username},#{password},#{phone},#{postbox},#{portrait})
    </insert>


    <!--    //根据ID查询用户
        public User queryUser(String u_id);-->
    <select id="queryUser" parameterType="String" resultType="User">
        select * from z_user where u_id=#{0}
    </select>

    <!--    //根据username查询用户
        public User userSelectByUsername(String username);-->
    <select id="userSelectByUsername" parameterType="String" resultType="User">
        select * from z_user where username=#{0}
    </select>
    <!--    //修改密码
        public void userUpdatePassword(User user);-->
    <update id="userUpdatePassword" parameterType="User">
        update z_user set password=#{password} where username=#{username}
    </update>

</mapper>